.about {
  background-color: $white;
  color: #555;
  padding: 11rem 0;

  .section__title {
    grid-column: 2 / 5;
  }

  .section__content {
    grid-column: 5 / -2;
  }

  &__text {
    & > p {
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 9rem;
      }
    }
  }
}

.bars {
  margin: 2rem auto;

  &__bar {
    width: 100%;
    background-color: #eee;
    border-radius: 20rem;
    line-height: 0.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      border-top-left-radius: 20rem;
      border-bottom-left-radius: 20rem;
      background-color: #27ccc0;
      height: 0.4rem;
    }

    @include fill-bar(70);
    @include fill-bar(80);
    @include fill-bar(90);

    &-label {
      display: flex;
      padding-bottom: 0.4rem;
      align-content: center;
      justify-content: space-between;
    }
  }
}
