.experience {
  background-color: #222;
  position: relative;
  color: #ddd;
  padding: 11rem 0;
  z-index: -2;

  &::before {
    content: "";
    background-image: linear-gradient(to right, rgba(#000, .05) , rgba(#000,.05)), url("/images/bg-keyboard.jpg");
    background-size: cover;
    filter: brightness(120%);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    z-index: -1;
  }

  .section__title {
    grid-column: 2 / 5;
  }

  .section__content {
    grid-column: 5 / -2;
  }

  &__list {
    list-style: none;
    font-size: 1.3rem;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, max-content);
    column-gap: 2rem;
    row-gap: .25rem;

    margin-bottom: 5rem;
    letter-spacing: 0.5px;

    &--certs {
      margin-bottom: 0.5rem;

      &:first-child {
        margin-top: 2rem;
      }
    }
  }

  .time {
    &__title-h5 {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      margin-bottom: 1rem;
      color: #ccc;
    }

    &__sub {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      transform: translateY(-.5em);
      font-size: 1.3rem;
      color: $white;
    }
  }

  .description {
    padding: 0 1rem;
    &__title-h5 {
      grid-row: 1 / span 1;
      grid-column: 4 / -1;
    }

    &__sub {
      grid-row: 2 / span 1;
      grid-column: 4 / -1;
      color: #999;
    }
  }
}
