.header {
  background-color: transparent;

  .logo {
    &__link {
      display: inline-block;
    }

    &__img {
      display: block;
      width: 12vw;
      height: auto;
      max-height: 100%;

      &--dark {
        display: none;
      }
    }
  }
}
