.header {
  background-color: transparent;
  height: 8rem;
  max-height: 8rem;
  align-items: center;
  border-bottom: 1px solid transparent;
  transition: all .3s ease-out;

  .logo {
    position: relative;

    &__link {
      display: inline-block;
    }

    &__img {
      width: 15vw;
      height: auto;

      &--light {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transform: translateY(0);
        transition: all .3s ease-out;
      }

      &--dark {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0;
        transform: translateY(4rem);
        transition: all .3s ease-out;
      }
    }
  }

  &--scrolled {
    background-color: $white;
    border-color: #ccc;
    transition: all .3s ease-out;

    .logo__img {
      &--light {
        transform: translateY(-4rem);
        opacity: 0;
      }

      &--dark {
        transform: translateY(0);
        opacity: 1;
      }
    }

    // make styled components that read props
    .nav__link:link,
    .nav__link:visited {
      color: $black;
    }
  }
}
