%grid-base {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

.content {
  @extend %grid-base;

  grid-template-rows: 100vh repeat(4, max-content);
  grid-template-areas:
    "home home home home home home home home home home home home"
    "bckg bckg bckg bckg bckg bckg bckg bckg bckg bckg bckg bckg"
    "expr expr expr expr expr expr expr expr expr expr expr expr"
    "work work work work work work work work work work work work"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  padding: 0;
}

.header,
.home,
.background,
.experience,
.portfolio,
.footer {
  @extend %grid-base;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 2.5rem 0;
  max-height: 8rem;
  align-items: center;

  .logo {
    grid-column: 2 / 6;
  }

  .nav {
    grid-column: 6 / -2;
  }
}

.home {
  grid-area: home;
  padding-top: 25vh;
}

.background {
  grid-area: bckg;
}

.experience {
  grid-area: expr;
}

.portfolio {
  grid-area: work;
}

.footer {
  grid-area: foot;
}
