.nav {
  text-align: right;

  // ul
  &__links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  // li
  &__item {
    &:not(:first-child) {
      padding-left: 3rem;
    }
  }
  // a
  &__link {
    &:link,
    &:visited {
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 1.1rem;
      line-height: 1.5rem;
      font-weight: 400;

      letter-spacing: .5px;
      text-decoration: none;
      color: $white;

      transition: opacity 0.5s ease-in-out;
    }

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
