.nav {
  text-align: right;

  // ul
  &__links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  // li
  &__item {
    &:not(:first-child) {
      padding-left: 3rem;
    }
  }
  // a
  &__link {
    &:link,
    &:visited {
      color: $white;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
