.portfolio {
  padding: 6rem 0;

  // Titles and project categories
  &__categories {
    grid-column: 2 / span 4;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    font-family: $font-display;
    font-size: 1.4rem;
    text-decoration: none;
    color: $black;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

  &__link:hover,
  &__link:active {
    opacity: 0.9;
  }

  // Project grid
  &__projects {
    grid-column: 2 / 10;
    max-width: 100%;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;

  &-link:link,
  &-link:visited {
    filter: brightness(60%);
    transition: all 0.5s ease-in-out;
    flex: 0 0 25%;
  }

  &-link:hover,
  &-link:active {
    filter: brightness(100%);
  }

  &-figure {
    width: 20vw;
    height: auto;

    & > img {
    }
  }
}
