.portfolio {
    // Titles and project categories
    &__categories {
        grid-column: 2 /-2;
        list-style: none;
        display: flex;

    }

    &__link:link,
    &__link:visited {
        font-family: $font-display;
        font-size: 1.4rem;
    }

    &__link:hover,
    &__link:active {

    }

    // Project grid
    &__projects {

    }

    .projects {
        &-link {

        }

        &-figure {

        }
    }
}
