$white: #fff;
$black: #000;

$font-primary: 'Helvetica Neue','Open Sans', sans-serif;
$font-display: 'Raleway', sans-serif;

@mixin fill-bar($pct-no) {
  &--pct-#{$pct-no} {
    &::before {
      width: calc(1% * #{$pct-no});
    }
  }
}