// // VARIABLES
// $font-primary: "Helvetica Neue", "Open Sans", sans-serif;
// $font-display: "Raleway", sans-serif;
// $white: #fff;
// $black: #000;

// // RESET
// *,
// *::after,
// *::before {
//   box-sizing: inherit;
//   margin: 0;
//   padding: 0;
// }

// html {
//   font-size: 62.5%; // 1rem = 10px @ default 16px
// }

// body {
//   box-sizing: border-box;
//   -webkit-font-smoothing: antialiased;
//   font-family: $font-primary;
//   color: $black;
//   font-weight: 300;
// }

// UNIVERSAL
// h1,
// h2,
// h3,
// h4,
// h5 {
// margin: 0;
// padding: 0;
// font-family: Raleway, sans-serif;
// font-weight: 300;
// }

#about {
  grid-area: about;
}

#background {
  grid-area: backg;
}

#work {
  grid-area: works;
}

footer {
  grid-area: footr;
}
